.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.f-14 {
  font-size: 14px;
}

.f-30 {
  font-size: 30px;
  color: white;
}

.mb-xs {
  margin-bottom: 16px !important;
}

.mb-sm {
  margin-bottom: 24px !important;
}

.mb-md {
  margin-bottom: 36px !important;
}

.mb-lg {
  margin-bottom: 50px !important;
}

.pb-sm {
  padding-bottom: 24px !important;
}

.pb-lg {
  padding-bottom: 80px;
}

.px-sm {
  padding: 15px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
}

.section-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 7px;
  font-weight: 700;
}

.title-text {
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

header {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
}

header .sm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sm-header .sm-header-left a {
  display: inline-block;
  margin-left: 20px;
}

header .sm-header .sm-header-left a .sm-header-logo {
  height: 18px;
}

header .sm-header .sm-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sm-header .sm-header-right .apply-btn {
  color: white;
  background-color: #07b53b;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

header .sm-header .sm-header-right .apply-btn::before {
  font-family: "Font Awesome 5 Free";
  content: "\f304";
  display: inline-block;
  font-weight: 900;
  padding: 0 3px;
}

header .sm-header .sm-header-right .icon {
  border-left: 1px solid #eeeeee;
}

header .sm-header .sm-header-right .icon img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

header .md__header__all {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98px;
}

header .md__header__all .md__header__left {
  margin-left: 20px;
}

header .md__header__all .md__header__left .head__logo {
  width: 164px;
  height: 22px;
}

header .md__header__all .md__header__center {
  margin: auto;
}

header .md__header__all .md__header__center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

header .md__header__all .md__header__center ul li {
  list-style-type: none;
  margin-right: 10px;
}

header .md__header__all .md__header__center ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #888;
  text-decoration: none;
  display: block;
  padding: 12px 6px 11px;
}

header .md__header__all .md__header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
}

header .md__header__all .md__header__right p {
  padding: 14px 13px;
  color: #04bd41;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

header .md__header__all .md__header__right .apply .apply__btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  padding: 7px 21px 6px;
  background-color: #07b53b;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

header .md__header__all .md__header__right .apply .apply__btn .fa-pen {
  display: inline-block;
  margin-right: 5px;
}

.apply-banner {
  width: 100%;
}

.sm-carousel {
  padding-top: 50px;
}

.carousel-indicators li {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50%;
  margin: 0 5px !important;
}

.carousel-img {
  height: 290px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1 .row .col-md-4 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.section1 .row .col-md-4 .section1-img {
  width: 104px;
  height: 104px;
}

.section1 .row .col-md-4 .section-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 7px;
  font-weight: 700;
}

.section1 .row .col-md-4 .title-text {
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

.section1 .row .col-md-4 .main-btn {
  width: 195px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #b7b7b7;
  color: #777;
  border-radius: 28px;
  position: relative;
}

.section1 .row .col-md-4 .main-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 10px;
}

.section2 {
  border-radius: 3px;
  background-color: #07b53b;
}

.section2 .row .col-md-6 {
  padding: 20px;
  text-align: center;
}

.section2 .row .col-md-6 .section-title {
  color: white;
}

.section2 .row .col-md-6 .title-text {
  color: white;
}

.section2 .row .col-md-6 .second-btn {
  width: 240px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid white;
  color: #07b53b;
  background-color: white;
  border-radius: 28px;
  position: relative;
}

.section2 .row .col-md-6 .second-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 10px;
}

.section2 .row .col-md-6 .section2-img {
  width: 240px;
  height: 120px;
}

.section3 .main-row {
  max-width: 1140px;
  width: 100%;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 .col-lg-4 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
  border: solid 2px #dfdfdf;
}

.section3 .col-lg-4 .child-row {
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .col-lg-4 .child-row .title-text {
  padding-right: 25px;
}

.section3 .col-lg-4 .child-row .section3-img {
  height: 130px;
  margin: auto 0;
  padding-right: 20px;
}

.section3 .col-lg-4 .col-12 {
  width: 100%;
  border-top: solid 2px #dfdfdf;
}

.section3 .col-lg-4 .col-12 .link-text {
  margin: 8px;
  color: #777777;
  font-weight: bold;
}

.section3 .col-lg-4 .col-12 .link-text::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 18px;
}

.section4 .section4-row1 {
  margin: 0;
  padding: 0 !important;
}

.section4 .section4-row1 .col {
  text-align: end;
}

.section4 .section4-row1 .col .col-left {
  padding-top: 20px !important;
}

.section4 .section4-row1 .col .section-title {
  text-align: start;
  color: white;
  margin-top: 24px;
}

.section4 .section4-row1 .col .title-text {
  text-align: start;
  color: white;
  font-size: 14px;
}

.section4 .section4-row1 .col .title-text span {
  display: inline-block;
  margin-top: 8px;
}

.section4 .section4-row1 .col .section4-title-img {
  margin-top: 20px;
  text-align: end;
  width: 130px;
  height: 110px;
}

.section4 .section4-row1 .col .section4-title-lg-img {
  width: 350px !important;
  margin: 0 auto;
}

.section4 .section4-row1 .col .section4-honda-img {
  text-align: end;
  width: 130px;
  height: 180px;
}

.section4 .section4-row1 .col .apply-img {
  width: 140px;
}

.section4 .row-child {
  background-color: white;
  padding: 16px !important;
  text-align: start;
}

.section4 .row-child .text1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.section4 .row-child .text2 {
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
}

.section4 .row-child .text3 {
  color: #777;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
}

.section4 .section4-row2 {
  padding: 0 15px;
  margin: 0;
  background-color: white;
}

.section4 .section4-row2 .mini-title {
  width: 100%;
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  color: #111;
  padding: 15px 0 2px;
  margin: 0;
  border-bottom: 1px solid #000;
}

.section4 .section4-row2 .section4-row3 .child-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #efefef;
  padding: 15px 0;
}

.section4 .section4-row2 .section4-row3 .child-col .section4-img {
  width: 72px;
  height: 72px;
  padding: 0;
}

.section4 .section4-row2 .section4-row3 .col-3 {
  padding: 0 0 0 15px;
}

.section4 .section4-row2 .section4-row3 .col-8 {
  padding: 0;
  padding: 0;
}

.section4 .section4-row2 .section4-row3 .col-8 p {
  color: #444;
  margin: auto 0;
  padding: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.section4 .section4-row2 .section4-row3 .col-8 p::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: -20px;
}

.main-row2 {
  background-color: #07b53b;
  width: 100%;
}

.main-row2 .content-width {
  margin: 0 auto;
}

.main-row2 .content-width .section4-row1 {
  padding: 0 15px;
}

.main-row2 .row-child {
  padding: 0;
}

.main-row2 .row-child .main-col {
  padding: 0;
  padding: 0 15px;
  text-align: start;
  background-color: white;
}

.main-row2 .row-child .main-col .mini-title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  border-bottom: 1px solid black;
}

.main-row2 .row-child .main-col .sub-row .sub-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #efefef;
}

.main-row2 .row-child .main-col .sub-row .sub-col .section4-img {
  width: 72px;
  height: 72px;
}

.main-row2 .row-child .main-col .sub-row .sub-col .sub-col-text {
  margin-bottom: 0;
  font-size: 14px;
  color: #555;
  padding: 0 12px;
  width: 90%;
  position: relative;
}

.main-row2 .row-child .main-col .sub-row .sub-col .sub-col-text::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 5px;
  right: 2px;
}

.main-row2 .row-child .main-col .sub-row .sub-col .detail-link {
  display: none;
  color: #07b53b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

.main-row2 .row-child .main-col .sub-row .sub-col .detail-link::after {
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 3px;
  right: -15px;
}

.main-row2 .row-child .main-col .sub-row .sub-col .sub-col-text2 {
  font-size: 14px;
  color: #555;
  padding-right: 12px;
  margin: 0;
}

.main-row2 .row-child .main-col .sub-row .sub-col .sub-col-text2::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 18px;
  right: 2px;
  padding-left: 10px;
}

.section5 {
  background-color: #f5f7f9;
  padding-bottom: 20px;
}

.section5 .col-12 .title, .section5 .col-12 .faq-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  padding-top: 26px;
}

.section5 .col-12 .title .mini-title, .section5 .col-12 .faq-title .mini-title {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 2px;
}

.section5 .col-12 .title .link-text, .section5 .col-12 .faq-title .link-text {
  display: inline-block;
  font-size: 12px;
  color: #777;
}

.section5 .info {
  text-align: start;
  padding: 15px 0;
  border-bottom: solid 1px #dfdfdf;
  position: relative;
}

.section5 .info .section5-text {
  margin: 0;
  color: #777;
  word-break: break-all;
  width: 90%;
}

.section5 .info .section5-text::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 34px;
  right: 10px;
}

.section5 .faq {
  padding: 22px 0;
  text-align: start;
  border-bottom: solid 1px #dfdfdf;
  position: relative;
}

.section5 .faq .fq-p {
  display: none;
}

.section5 .faq .section5-text {
  font-size: 14px;
  font-weight: 700;
  color: #555;
  vertical-align: text-bottom;
  margin: 0;
}

.section5 .faq .section5-text::before {
  content: "";
  background-image: url(https://mobile.line.me/img/top_question.png);
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  background-size: 22px 22px;
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
}

.section5 .faq .section5-text::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 25px;
  right: 10px;
}

.section6 .section6-row1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6 .section6-row1 .section-title {
  text-align: start;
  padding: 20px 15px 0;
}

.section6 .section6-row2 .col-title {
  background-color: #07b53b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

.section6 .section6-row2 .col-main {
  height: 500px;
  padding: 30px 20px 20px;
  background-color: #f5f7f9;
}

.section6 .section6-row2 .col-main h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ff0064;
}

.section6 .section6-row2 .col-main .col-main-text {
  font-size: 18px;
  color: #111;
  line-height: 30px;
  margin: 0;
}

.section6 .section6-row2 .col-main .col-main-text .col-main-text2 {
  font-size: 32px;
  line-height: 33px;
  color: #07b53b;
  font-weight: 700;
}

.section6 .section6-row2 .col-main .col-main-text3 {
  font-size: 14px;
  line-height: 21px;
}

.section6 .section6-row2 .col-main .section6-img {
  width: 276px;
  height: 172px;
  margin-bottom: 18px;
}

.section6 .section6-row2 .col-main .section6-sim-img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.section6 .section6-row2 .col-main .section6-phone-img {
  height: 200px;
}

.section6 .section6-row2 .col-main .main-btn {
  width: 245px;
  height: 44px;
  margin: 30px auto;
  display: block;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #b7b7b7;
  color: #777;
  border-radius: 28px;
  background-color: white;
  position: relative;
}

.section6 .section6-row2 .col-main .main-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 10px;
}

.section6 .section6-row2 .col-main ul {
  padding: 0;
  margin: 0;
  text-align: start;
}

.section6 .section6-row2 .col-main ul li {
  list-style: none;
  font-size: 10px;
  color: #777;
  line-height: 14px;
}

.section7 .col-lg-6 {
  background-color: #f5f7f9;
}

.section7 .col-lg-6 .section7-img {
  height: 100%;
  width: 100%;
}

.section7 .section7-col2, .section7 .section7-col3 {
  padding: 32px 20px !important;
}

.section7 .section7-col2 .section-title, .section7 .section7-col3 .section-title {
  font-size: 16px;
}

.section7 .section7-col2 .fee-plan .plan-child, .section7 .section7-col3 .fee-plan .plan-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section7 .section7-col2 .fee-plan .red, .section7 .section7-col3 .fee-plan .red {
  color: #fe0264;
  border-top: 1px solid #dfdfdf;
  font-weight: 700;
}

.section7 .section7-col2 .fee-plan .black, .section7 .section7-col3 .fee-plan .black {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  font-weight: 700;
}

.section7 .section7-col2 .fee-plan .plan-text, .section7 .section7-col3 .fee-plan .plan-text {
  margin: 10px 0;
}

.section7 .section7-col2 .main-btn, .section7 .section7-col3 .main-btn {
  width: 245px;
  height: 44px;
  margin: 30px 0;
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #b7b7b7;
  color: #777;
  border-radius: 28px;
  background-color: white;
  position: relative;
}

.section7 .section7-col2 .main-btn::after, .section7 .section7-col3 .main-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 10px;
}

.section7 .section7-col2 .mini-text, .section7 .section7-col3 .mini-text {
  font-size: 10px;
  color: #777;
  line-height: 14px;
  text-align: start;
  margin: 0;
}

.section7 .section7-col3 {
  padding: 27px 20px 0px 20px !important;
}

.section7 .border {
  border: 3px solid #f5f7f9;
  border-radius: 3px;
}

.center-text .text-center {
  color: #777;
  font-size: 10px;
  margin: 0;
}

.section__child8 .section1-child {
  border-top: 1px solid #dfdfdf;
  text-align: start;
  position: relative;
}

.section__child8 .section1-child h3 {
  padding: 16px 10px;
  margin: 0;
  line-height: 16px;
}

.section__child8 .section1-child a {
  font-size: 13px;
  color: #555555;
}

.section__child8 .section1-child a:hover {
  text-decoration: none;
}

.section__child8 .section1-child .right::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 10px;
}

.section__child8 .section1-child .down::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 10px;
}

.section__child8 .section1-child ul {
  display: none;
}

.section__child8 .last-child {
  border-bottom: 1px solid #dfdfdf;
}

.section9 {
  background: #f5f7f9;
  padding: 30px 10px 30px 10px;
}

.section9 .content-width .section9-row .col-lg-4 {
  background-color: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #777;
  height: 65px;
}

.section9 .content-width .section9-row .col-lg-4 .section9-img {
  width: 40px;
}

.section9 .content-width .section9-row .col-lg-4 p {
  margin: 0 0 0 15px;
}

.section9 .content-width .section9-row .col-lg-4 p::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 10px;
}

.section9 .content-width .section9-row .line {
  margin-bottom: 10px;
}

.section10 {
  background-color: #07b53b;
}

.section10 .section10-row1 {
  margin: 0;
  padding: 0 !important;
}

.section10 .section10-row1 .col-5 {
  padding: 0;
  text-align: end;
}

.section10 .section10-row1 .col-5 .section-title {
  text-align: start;
  color: white;
}

.section10 .section10-row1 .col-5 .title-text {
  text-align: start;
  color: white;
  font-size: 14px;
}

.section10 .section10-row1 .col-5 .title-text span {
  display: inline-block;
  margin-top: 8px;
}

.section10 .section10-row1 .col-5 .section4-title-img {
  text-align: end;
  width: 130px;
  height: 110px;
}

.section10 .section10-row1 .col-5 .section10-honda-img {
  text-align: end;
  width: 130px;
  height: 180px;
}

.section10 .section10-row1 .col-5 .apply-img {
  width: 140px;
}

.section10 .row-child {
  background-color: white;
  padding: 16px !important;
  text-align: start;
}

.section10 .row-child .text1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.section10 .row-child .text2 {
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
}

.section10 .row-child .text3 {
  color: #777;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
}

footer {
  background-color: black;
  padding: 28px 21px;
}

footer .footer ul {
  width: 270px;
  margin: 0 auto;
  text-align: center;
}

footer .footer ul li {
  list-style: none;
  display: inline;
  white-space: nowrap;
}

footer .footer ul li a {
  font-size: 10px;
  color: #dfdfdf;
  line-height: 18px;
  text-decoration: none;
  border-right: 1px solid #555555;
  padding-right: 10px;
}

footer .footer p {
  text-align: center;
  font-size: 10px;
  color: #dfdfdf;
  line-height: 18px;
}

footer .footer img {
  width: 120px;
}

@media screen and (min-width: 760px) {
  .section-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 7px;
    font-weight: 700;
  }
  .title-text {
    font-size: 20px;
    line-height: 24px;
    color: #555;
  }
  .ul-mb {
    margin-bottom: 26px !important;
  }
  .section1 .row .col-md-4 .inner {
    height: 250px;
    margin-bottom: 14px;
  }
  .section1 .row .col-md-4 .main-btn {
    margin-top: 16px;
  }
  .section2 .row .col-md-6 {
    padding: 50px 30px;
  }
  .section2 .row .col-md-6 .section2-img {
    width: 280px;
    height: 150px;
  }
  .section3 .main-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section3 .section-title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 18px;
  }
  .section3 .title-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 7px;
    font-weight: 700;
  }
  .title-text {
    font-size: 20px;
    line-height: 24px;
    color: #555;
  }
  .ul-mb {
    margin-bottom: 16px !important;
  }
  .mb-sm {
    margin-bottom: 36px !important;
  }
  header {
    position: static;
  }
  .carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    margin: 0 10px !important;
  }
  .carousel-img {
    height: 540px;
  }
  .slider img {
    margin-top: 0;
    width: 100%;
    height: 590px;
  }
  .section1 .row .col-md-4 .inner {
    height: 250px;
    margin-bottom: 14px;
  }
  .section1 .row .col-md-4 .section1-img {
    width: 144px;
    height: 144px;
  }
  .section1 .row .col-md-4 h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .section1 .row .col-md-4 .title-text {
    font-size: 16px;
    line-height: 24px;
  }
  .section1 .row .col-md-4 .main-btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    margin-top: 46px;
  }
  .section2 .row {
    padding: 60px;
    margin: 0;
  }
  .section2 .row .col-md-6 {
    padding: 0;
    text-align: start;
  }
  .section2 .row .col-md-6 .section-title {
    font-size: 36px;
    padding-bottom: 15px;
  }
  .section2 .row .col-md-6 .title-text {
    font-size: 20px;
    text-align: start;
  }
  .section2 .row .col-md-6 .section2-img {
    width: 280px;
    height: 150px;
  }
  .section2 .row .col-md-6 .second-btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
  }
  .section2 .row .col-md-6 .section2-img {
    width: 450px;
    height: 200px;
  }
  .section3 .main-row {
    max-width: 1160px;
    width: 100%;
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section3 .col-lg-4 {
    max-width: 370px;
    width: 100% !important;
    margin: 0 !important;
    padding: 0;
  }
  .section3 .col-lg-4 .child-row {
    width: 100%;
    height: 200px;
    padding: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section3 .col-lg-4 .child-row img {
    margin-top: 20px !important;
  }
  .section4 {
    background-color: #07b53b;
  }
  .section4 .section4-row2 {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: skyblue;
  }
  .section4 .section4-row2 .section4-row1 {
    padding-top: 36px;
  }
  .section4 .section4-row2 .section4-row1 .col .section-title {
    background-color: chartreuse;
    font-size: 56px;
    font-weight: 700;
  }
  .section4 .section4-row2 .section4-row1 .col .title-text {
    font-size: 20px;
  }
  .section4 .section4-row2 .col-lg-6 {
    max-width: 550px;
    width: 100% !important;
    background-color: white;
  }
  .section4 .section4-row2 .col-lg-6 .mini-title {
    width: 100%;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    padding: 15px 0 2px;
    margin: 0;
    border-bottom: 1px solid #000;
  }
  .section4 .section4-row2 .section4-row3 .col-lg-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #efefef;
    padding: 15px 0;
  }
  .section4 .section4-row2 .section4-row3 .col-lg-6 .section4-img {
    width: 72px;
    height: 72px;
    padding: 0;
  }
  .section4 .section4-row2 .section4-row3 .child-col {
    margin-left: auto;
  }
  .section4 .section4-row2 .section4-row3 .col-3 {
    padding: 0 0 0 15px;
  }
  .section4 .section4-row2 .section4-row3 .col-8 {
    padding: 0;
    padding: 0;
  }
  .section4 .section4-row2 .section4-row3 .col-8 p {
    color: #444;
    margin: auto 0;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .section4 .section4-row2 .section4-row3 .col-8 p::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    font-weight: 900;
    position: absolute;
    right: -20px;
  }
  .main-row2 {
    width: 100%;
    margin: 0;
  }
  .main-row2 .section4-row1 {
    margin-top: 36px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-row2 .section-title {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .main-row2 .title-text {
    font-size: 20px !important;
    padding-bottom: 60px;
  }
  .main-row2 .row-child {
    padding: 0 !important;
    max-width: 1160px;
    width: 100%;
    background-color: #07b53b !important;
    margin-bottom: 28px;
  }
  .main-row2 .row-child .main-col {
    margin: 0 auto;
    max-width: 550px !important;
    width: 100% !important;
    padding: 20px;
  }
  .main-row2 .row-child .main-col .mini-title {
    font-size: 22px;
  }
  .main-row2 .sub-row .sub-col {
    display: block !important;
    padding: 0;
  }
  .main-row2 .sub-row .sub-col .section4-img {
    width: 200px !important;
    height: 120px !important;
    margin-bottom: 10px;
  }
  .main-row2 .sub-row .sub-col .detail-link {
    display: inline-block !important;
  }
  .main-row2 .sub-row .sub-col .sub-col-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #444;
    padding-bottom: 9px;
    padding: 0 !important;
  }
  .main-row2 .sub-row .sub-col .sub-col-text::after {
    display: none !important;
  }
  .main-row2 .sub-row .sub-col .sub-col-text2 {
    font-size: 16px !important;
    line-height: 24px;
    padding-right: 24px !important;
  }
  .section5 .col-12 {
    margin-bottom: 36px;
  }
  .section5 .col-12 .faq-title {
    border-bottom: none;
    margin-bottom: 24px;
  }
  .section5 .col-12 .mini-title {
    padding-top: 24px;
    font-size: 22px !important;
  }
  .section5 .col-12 .link-text {
    padding-top: 24px;
  }
  .section5 .col-12 .info {
    padding: 34px 0;
  }
  .section5 .col-12 .info time {
    color: #949494;
  }
  .section5 .col-12 .faq {
    background-color: white;
    padding: 30px;
    margin-bottom: 15px;
    border: none;
  }
  .section5 .col-12 .faq .section5-text {
    font-size: 16px;
    vertical-align: middle;
  }
  .section5 .col-12 .faq .section5-text::before {
    content: "";
    background-image: url(https://mobile.line.me/img/top_question.png);
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
    background-size: 32px 32px;
    background-size: contain;
    vertical-align: middle;
    margin-right: 18px;
  }
  .section5 .col-12 .faq .section5-text::after {
    display: none;
  }
  .section5 .col-12 .faq .fq-p {
    display: block;
    padding: 15px 40px;
    margin: 0;
  }
  .section5 .col-12 .faq .fq-p .green {
    color: #07b53b;
  }
  .section6 .section6-row1 .section-title {
    font-size: 36px;
    line-height: 36px;
    text-align: center !important;
    margin: 0 auto;
    padding: 40px 15px 0;
  }
  .section6 .section6-row2 .col-title {
    background-color: #07b53b;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
  }
  .section6 .section6-row2 .col-main2 {
    height: 550px !important;
  }
  .section6 .section6-row2 .col-main {
    height: 660px;
    padding: 45px 48px;
    background-color: #f5f7f9;
  }
  .section6 .section6-row2 .col-main h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ff0064;
  }
  .section6 .section6-row2 .col-main .col-main-text {
    font-size: 22px;
    color: #111;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .section6 .section6-row2 .col-main .col-main-text .col-main-text2 {
    font-size: 36px;
    line-height: 42px;
    color: #07b53b;
    font-weight: 700;
  }
  .section6 .section6-row2 .col-main .col-main-text3 {
    font-size: 16px;
    line-height: 24px;
  }
  .section6 .section6-row2 .col-main .section6-img {
    width: 383px;
    height: 239px;
    margin-bottom: 28px;
  }
  .section6 .section6-row2 .col-main .section6-sim-img {
    width: 240px;
    height: 130px;
  }
  .section6 .section6-row2 .col-main .section6-phone-img {
    width: 355px;
    height: 255px;
  }
  .section6 .section6-row2 .col-main .main-btn {
    width: 260px;
    height: 56px;
    display: inline-block;
    line-height: 56px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #b7b7b7;
    color: #777;
    border-radius: 28px;
    background-color: white;
    position: relative;
  }
  .section6 .section6-row2 .col-main .main-btn::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    font-weight: 900;
    position: absolute;
    right: 10px;
  }
  .section6 .section6-row2 .col-main ul {
    padding: 0;
    margin: 0;
    text-align: start;
  }
  .section6 .section6-row2 .col-main ul li {
    list-style: none;
    font-size: 12px;
    color: #777;
    line-height: 14px;
  }
  .section7 .section-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 36px;
  }
  .section7 .section7-img {
    height: 100%;
  }
  .section7 .section7-col2 {
    padding: 50px 100px !important;
  }
  .section7 .section7-col2 .section-title {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .section7 .section7-col2 .plan-text {
    font-size: 18px;
  }
  .section7 .section7-col2 .main-btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
  }
  .section7 .section7-col3 {
    padding: 50px 40px 30px !important;
  }
  .section7 .section7-col3 .col-main-text3 {
    font-size: 16px;
    line-height: 24px;
  }
  .section7 .section7-col3 .main-btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
  }
  .center-text .text-center {
    font-size: 16px;
  }
  .section__child8 .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child8 .section1 .section1-child {
    border: none;
    width: 230px !important;
    margin: 0 auto;
  }
  .section__child8 .section1 .section1-child span {
    display: none;
  }
  .section__child8 .section1 .section1-child h3 {
    padding-bottom: 10px;
  }
  .section__child8 .section1 .section1-child h3 a {
    font-size: 18px;
    font-weight: 700;
  }
  .section__child8 .section1 .section1-child h3 .right::after, .section__child8 .section1 .section1-child h3 .down::after {
    content: none;
    display: none;
  }
  .section__child8 .section1 .section1-child ul {
    display: block !important;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .section__child8 .section1 .section1-child ul li {
    padding: 5px 10px;
  }
  .section__child8 .section1 .section1-child ul li a {
    font-size: 16px;
  }
  .section__child8 .top {
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 24px;
  }
  .section9 {
    padding: 60px 0;
  }
  .section9 .section-title {
    font-size: 36px;
  }
  .section9 .section9-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section9 .section9-row .line {
    margin-right: 16px;
  }
  .section10 {
    margin: 0;
    height: 680px;
    background-color: #07b53b;
    position: relative;
  }
  .section10 .section10-row1 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
    padding: 0px !important;
  }
  .section10 .section10-row1 .col-5 {
    height: 100%;
    padding: 0;
    text-align: end;
  }
  .section10 .section10-row1 .col-5 .section-title {
    text-align: start;
    color: white;
  }
  .section10 .section10-row1 .col-5 .title-text {
    text-align: start;
    color: white;
    font-size: 20x;
    padding: 0;
  }
  .section10 .section10-row1 .col-5 .title-text span {
    display: inline-block;
    margin-top: 8px;
  }
  .section10 .section10-row1 .col-5 .text-1, .section10 .section10-row1 .col-5 span {
    font-weight: 700;
    line-height: 50px;
    font-size: 48px !important;
  }
  .section10 .section10-row1 .col-5 .section10-honda-img {
    text-align: end;
    width: 450px;
    height: 600px;
    position: absolute;
    bottom: -42px;
  }
  .section10 .section10-row1 .col-5 .apply-img {
    margin: 40px 0;
    width: 200px;
    height: 60px;
  }
  .section10 .section10-row {
    width: 540px;
    background-color: white;
    padding: 24px !important;
    text-align: start;
  }
  .section10 .section10-row .text1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  .section10 .section10-row .text2 {
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
  }
  .section10 .section10-row .text3 {
    color: #777;
    font-size: 12px;
    line-height: 19px;
    margin: 0;
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer ul {
    width: 100%;
    text-align: start;
  }
  footer .footer ul li a {
    font-size: 12px;
    padding: 0 12px;
  }
  footer .footer .footer-img {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  header .md__header__all .md__header__left {
    margin-left: 40px;
  }
  header .md__header__all .md__header__center ul li a {
    font-size: 22px;
    padding: 12px 10px;
  }
  header .md__header__all .md__header__right {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
